/* 
- Typography
*/

/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/*
font-family: 'Barlow Semi Condensed', sans-serif;
font-weight: 500, 600
*/

html {
  font-size: 13px;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  /* color: #838EA4; */
}

h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}

.main > div .verified-p {
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1.4;
}

.main p span {
  font-size: 1.48rem;
  font-weight: 600;
  line-height: 1.2;
}