/* 
- Typography
*/

/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/*
font-family: 'Barlow Semi Condensed', sans-serif;
font-weight: 500, 600
*/

html {
  font-size: 13px;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  /* color: #838EA4; */
}

/* h2 {
  font-size: 2.75rem;
  line-height: 1.25;
}

p {
  font-size: 1.20rem;
  margin-bottom: 1.25rem;
} */