@use './variables' as *;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Mobile
@mixin media-sm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

// iPads and Tablets
@mixin media-md {
    @media screen and (max-width: 768px) {
        @content;
    }
}

// Small screens and laptops
@mixin media-lg {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

// Desktops and Large screens
@mixin media-xl {
    @media screen and (max-width: 1200px) {
        @content;
    }
}