$violet: hsl(263, 55%, 52%);
$gray-blue: hsl(217, 19%, 35%);
$black-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 99%);
$light-gray-blue: hsl(210, 46%, 95%);

$background-colors: (
    "body": $light-gray-blue,
    "daniel": $violet,
    "jonathan": $gray-blue,
    "jeanette": $white,
    "patrick": $black-blue,
    "kira": $light-gray
);

$text-colors: (
    "dark": hsl(219, 29%, 14%),
    "light": hsl(0, 0%, 81%)
)