@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

@each $color, $value in $background-colors {
    .bg-#{$color} { // all bg classes will be styled
            background-color: $value;
    }
}

body {
    @include flexCenter;
}

.main {
    max-width: 1076px;

    &__img-div {
        width: 26px;
        margin-right: 1.2rem;
    }

    &__avatar-img {
        border-radius: 50%;
    }

    &__span-p {
        margin-top: 1.2rem;
    }

    & > :nth-of-type(1),
    & > :nth-of-type(2),
    & > :nth-of-type(4) {
        color: text-color(light);
    }

    & > :nth-of-type(3),
    & > :nth-of-type(5) {
        color: text-color(dark);
    }

    & > div .verified-p {
        opacity: 50%;
    }

    & > div .comments {
        opacity: 70%;
    }
}