@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

@each $color, $value in $background-colors {
    .bg-#{$color} { // all bg classes will be styled
            background-color: $value;
    }
}

body {
    @include flexCenter;
}

.main {
    max-width: 1135px;

    &__avatar-img {
        border-radius: 50%;
    }
}